<template>
  <div class="request-manipulator" :class="{'show': showManipulator}">
    <h1 @click="showManipulator = !showManipulator">Request Manipulator</h1>
  </div>
</template>

<script>
export default {
  name: 'Maniplator',
  data () {
    return {
    }
  },
  components: {
  },
  computed: {
  },
  methods: {
  },
  created () {
  },
  beforeCreate () {
  },
  mounted () {
  }
}
</script>
<style lang="scss" scoped>
.request-manipulator {
  z-index: 10000;
  position: absolute;
  background: #000;
  left: 0;
  width: 33%;
  color: #fff !important;
  padding: 10px;
  height: 40px;
  &.show {
    height: 100%;
  }
}
</style>
